html {
  overscroll-behavior: none;
}
body {
  background-color: #fff;
  color: #51525d;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Zpix', serif;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  transition: background-color 0.6s;
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}
body[path='index.html'] {
  height: auto;
}
body[path='archives/index.html'] .logopng {
  display: none;
}
body[path='archives/index.html'] .logot {
  margin-top: 10px;
}
body[path='archives/index.html'] .more {
  display: none;
}
body::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.03;
  position: fixed;
  background: center/cover no-repeat;
  background-image: url("https://cdn.jsdelivr.net/gh/journey-ad/blog-img/bg/bg_1.jpg");
  z-index: -1;
  pointer-events: none;
}
a {
  color: #d2d2d2;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #699be9;
  text-decoration: underline;
}
.footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #ccc;
}
.clear {
  clear: both;
}
.navdiv {
  width: 100%;
}
.hd {
  width: 700px;
  margin: auto;
}
.hd .more {
  margin-top: 30px;
}
.logodiv {
  text-align: center;
  margin-top: 30px;
}
.titlex {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
.list {
  padding-left: 25px;
  padding-right: 25px;
  height: 30px;
  cursor: pointer;
}
.postname {
  float: left;
}
.posttime {
  float: right;
}
.logopng {
  width: 315px;
}
.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background-color: initial;
  border-radius: 0px;
  text-align: center;
}
.title-year {
  color: #6d9ee7;
}
.logot {
  font-family: 'Zpix', serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: -8px;
  margin-bottom: -20px;
}
.logot a {
  color: #51525d;
}
.logot a:hover {
  text-decoration: none;
}
.logot .logo_1 {
  color: #888;
}
.logot .logo_2 {
  color: #6d9ee7;
}
.logot .logo_3 {
  color: #be8355;
}
.navd {
  padding-top: 14px;
}
.headt {
  border-bottom: 1px solid #efefef;
  height: 50px;
}
.fh {
  top: 24px;
  position: absolute;
}
hr {
  border-color: #58606b;
}
@media screen and (max-width: 800px) {
  .logopng {
    width: 210px;
  }
}
.posts {
  width: 900px;
}
.posts .replay-btn {
  background-color: #4b5e7b;
  width: 40px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
}
.posts .post-title {
  text-align: center;
  font-family: 'Zpix', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  margin: 1em 0;
}
.posts .outdated-notify {
  display: none;
  padding: 10px 14px;
  margin: 20px 0;
  color: #333;
  background: #ffec6f;
  font-family: 'Zpix', serif;
  font-size: 12px;
}
.posts .post-content a {
  color: #699be9;
}
.posts .post-content pre {
  position: relative;
  background: #21252b;
  border-radius: 5px;
  font: 14px/22px 'Microsoft YaHei', 'Arial', Sans-Serif;
  line-height: 1.4;
  max-width: 800px;
  max-height: 500px;
  margin: 0 auto;
  margin-bottom: 1.6em;
  overflow: hidden;
  text-shadow: none;
  color: #000;
  padding-top: 30px;
  padding-right: 2px;
  padding-bottom: 4px;
  box-shadow: 0 10px 30px 0px rgba(0,0,0,0.4);
}
.posts .post-content pre:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  background: #fc625d;
  width: 12px;
  height: 12px;
  left: 12px;
  margin-top: -18px;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  z-index: 2;
}
.posts .post-content pre ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.posts .post-content pre ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.posts .post-content pre ::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #fff;
  border-radius: 50px;
}
.posts .post-content pre ::-webkit-scrollbar-track {
  background: #666;
  border: 0px none #fff;
  border-radius: 50px;
}
.posts .post-content pre ::-webkit-scrollbar-corner {
  background: transparent;
}
.posts .post-content pre code {
  display: block;
  width: 100%;
  max-height: 460px;
  overflow: auto;
  padding: 0;
  padding-left: 6px;
  background: none;
}
.posts .fhr {
  margin-top: 20px;
}
.posts .highlight .gutter .hljs {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.posts .highlight .code .hljs {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 800px) {
  .posts .outdated-notify {
    font-size: 12px;
    margin: 10px 0;
  }
}
.post-content .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}
.post-content .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}
.post-content .anchor:focus {
  outline: none;
}
.post-content h1::before,
.post-content h2::before,
.post-content h3::before,
.post-content h4::before,
.post-content h5::before,
.post-content h6::before {
  content: "#";
  padding-right: 10px;
  color: #6d9ee7;
}
.post-content h1 .octicon-link,
.post-content h2 .octicon-link,
.post-content h3 .octicon-link,
.post-content h4 .octicon-link,
.post-content h5 .octicon-link,
.post-content h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}
.post-content h1:hover .anchor,
.post-content h2:hover .anchor,
.post-content h3:hover .anchor,
.post-content h4:hover .anchor,
.post-content h5:hover .anchor,
.post-content h6:hover .anchor {
  text-decoration: none;
}
.post-content h1:hover .anchor .octicon-link,
.post-content h2:hover .anchor .octicon-link,
.post-content h3:hover .anchor .octicon-link,
.post-content h4:hover .anchor .octicon-link,
.post-content h5:hover .anchor .octicon-link,
.post-content h6:hover .anchor .octicon-link {
  visibility: visible;
}
.post-content {
  position: relative;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Zpix', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  letter-spacing: 1px;
}
.post-content .pl-c {
  color: #6a737d;
}
.post-content .pl-c1,
.post-content .pl-s .pl-v {
  color: #005cc5;
}
.post-content .pl-e,
.post-content .pl-en {
  color: #6f42c1;
}
.post-content .pl-s .pl-s1,
.post-content .pl-smi {
  color: #24292e;
}
.post-content .pl-ent {
  color: #22863a;
}
.post-content .pl-k {
  color: #d73a49;
}
.post-content .pl-pds,
.post-content .pl-s,
.post-content .pl-s .pl-pse .pl-s1,
.post-content .pl-sr,
.post-content .pl-sr .pl-cce,
.post-content .pl-sr .pl-sra,
.post-content .pl-sr .pl-sre {
  color: #032f62;
}
.post-content .pl-smw,
.post-content .pl-v {
  color: #e36209;
}
.post-content .pl-bu {
  color: #b31d28;
}
.post-content .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}
.post-content .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}
.post-content .pl-c2:before {
  content: "^M";
}
.post-content .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}
.post-content .pl-ml {
  color: #735c0f;
}
.post-content .pl-mh,
.post-content .pl-mh .pl-en,
.post-content .pl-ms {
  color: #005cc5;
  font-weight: 700;
}
.post-content .pl-mi {
  color: #24292e;
  font-style: italic;
}
.post-content .pl-mb {
  color: #24292e;
  font-weight: 700;
}
.post-content .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}
.post-content .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}
.post-content .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}
.post-content .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}
.post-content .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}
.post-content .pl-ba {
  color: #586069;
}
.post-content .pl-sg {
  color: #959da5;
}
.post-content .pl-corl {
  color: #032f62;
  text-decoration: underline;
}
.post-content details {
  display: block;
}
.post-content summary {
  display: list-item;
}
.post-content a {
  background-color: transparent;
}
.post-content a:active,
.post-content a:hover {
  outline-width: 0;
}
.post-content strong {
  font-weight: inherit;
  font-weight: bolder;
}
.post-content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.post-content img,
.post-content video {
  display: block;
  border-style: none;
  border-radius: 5px;
  width: auto;
  max-width: 80%;
  margin: 0 auto;
}
.post-content code,
.post-content kbd,
.post-content pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.post-content hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.post-content input {
  font: inherit;
  margin: 0;
}
.post-content input {
  overflow: visible;
}
.post-content [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}
.post-content * {
  box-sizing: border-box;
}
.post-content input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.post-content a {
  color: #0366d6;
  text-decoration: none;
}
.post-content a:hover {
  text-decoration: underline;
}
.post-content strong {
  font-weight: 600;
}
.post-content hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}
.post-content hr:before {
  content: "";
  display: table;
}
.post-content hr:after {
  clear: both;
  content: "";
  display: table;
}
.post-content table {
  border-collapse: collapse;
  border-spacing: 0;
}
.post-content td,
.post-content th {
  padding: 0;
}
.post-content details summary {
  cursor: pointer;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.post-content h1 {
  font-size: 32px;
}
.post-content h1,
.post-content h2 {
  font-weight: 600;
}
.post-content h2 {
  font-size: 24px;
}
.post-content h3 {
  font-size: 20px;
}
.post-content h3,
.post-content h4 {
  font-weight: 600;
}
.post-content h4 {
  font-size: 16px;
}
.post-content h5 {
  font-size: 14px;
}
.post-content h5,
.post-content h6 {
  font-weight: 600;
}
.post-content h6 {
  font-size: 12px;
}
.post-content p {
  margin-bottom: 10px;
  margin-top: 0;
}
.post-content blockquote {
  margin: 0;
}
.post-content ol,
.post-content ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.post-content ol ol,
.post-content ul ol {
  list-style-type: lower-roman;
}
.post-content ol ol ol,
.post-content ol ul ol,
.post-content ul ol ol,
.post-content ul ul ol {
  list-style-type: lower-alpha;
}
.post-content dd {
  margin-left: 0;
}
.post-content code,
.post-content pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
}
.post-content pre {
  margin-bottom: 0;
  margin-top: 0;
}
.post-content input::-webkit-inner-spin-button,
.post-content input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.post-content .border {
  border: 1px solid #e1e4e8 !important;
}
.post-content .border-0 {
  border: 0 !important;
}
.post-content .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}
.post-content .rounded-1 {
  border-radius: 3px !important;
}
.post-content .bg-white {
  background-color: #fff !important;
}
.post-content .bg-gray-light {
  background-color: #fafbfc !important;
}
.post-content .text-gray-light {
  color: #6a737d !important;
}
.post-content .mb-0 {
  margin-bottom: 0 !important;
}
.post-content .my-2 {
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}
.post-content .pl-0 {
  padding-left: 0 !important;
}
.post-content .py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.post-content .pl-1 {
  padding-left: 4px !important;
}
.post-content .pl-2 {
  padding-left: 8px !important;
}
.post-content .py-2 {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}
.post-content .pl-3,
.post-content .px-3 {
  padding-left: 16px !important;
}
.post-content .px-3 {
  padding-right: 16px !important;
}
.post-content .pl-4 {
  padding-left: 24px !important;
}
.post-content .pl-5 {
  padding-left: 32px !important;
}
.post-content .pl-6 {
  padding-left: 40px !important;
}
.post-content .f6 {
  font-size: 12px !important;
}
.post-content .lh-condensed {
  line-height: 1.25 !important;
}
.post-content .text-bold {
  font-weight: 600 !important;
}
.post-content:before {
  content: "";
  display: table;
}
.post-content:after {
  clear: both;
  content: "";
  display: table;
}
.post-content>:first-child {
  margin-top: 0 !important;
}
.post-content>:last-child {
  margin-bottom: 0 !important;
}
.post-content a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.post-content blockquote,
.post-content dl,
.post-content ol,
.post-content p,
.post-content pre,
.post-content table,
.post-content ul {
  margin-bottom: 16px;
  margin-top: 0;
}
.post-content hr {
  background-color: #6a7380;
  border: 0;
  height: 1px;
  margin: 24px 0;
  padding: 0;
}
.post-content blockquote {
  border-left: 0.25em solid #798ba9;
  color: #798ba9;
  padding: 0 1em;
  margin-left: 13px;
}
.post-content blockquote>:first-child {
  margin-top: 0;
}
.post-content blockquote>:last-child {
  margin-bottom: 0;
}
.post-content kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}
.post-content h1 {
  font-size: 2em;
}
.post-content h1,
.post-content h2 {
  padding-bottom: 0.3em;
}
.post-content h2 {
  font-size: 1.5em;
}
.post-content h3 {
  font-size: 1.25em;
}
.post-content h4 {
  font-size: 1em;
}
.post-content h5 {
  font-size: 0.875em;
}
.post-content h6 {
  color: #6a737d;
  font-size: 0.85em;
}
.post-content ol,
.post-content ul {
  padding-left: 2em;
}
.post-content ol ol,
.post-content ol ul,
.post-content ul ol,
.post-content ul ul {
  margin-bottom: 0;
  margin-top: 0;
}
.post-content li {
  word-wrap: break-all;
}
.post-content li>p {
  margin-top: 16px;
}
.post-content li+li {
  margin-top: 0.25em;
}
.post-content dl {
  padding: 0;
}
.post-content dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}
.post-content dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}
.post-content table {
  display: block;
  overflow: auto;
  width: 100%;
}
.post-content table th {
  font-weight: 600;
}
.post-content table td,
.post-content table th {
  border: 1px solid #6b6b6b;
  padding: 6px 13px;
}
.post-content table tr {
  border-top: 1px solid #c6cbd1;
}
.post-content img {
  box-sizing: content-box;
  max-width: 80%;
}
.post-content img[align=right] {
  padding-left: 20px;
}
.post-content img[align=left] {
  padding-right: 20px;
}
.post-content code {
  background-color: #28559c;
  border-radius: 3px;
  margin: 0;
  padding: 0.2em 0.4em;
  color: #fff;
  vertical-align: text-top;
}
.post-content pre {
  word-wrap: normal;
}
.post-content .commit-tease-sha {
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 90%;
}
.post-content .blob-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}
.post-content .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}
.post-content .blob-num {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(27,31,35,0.3);
  cursor: pointer;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 20px;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}
.post-content .blob-num:hover {
  color: rgba(27,31,35,0.6);
}
.post-content .blob-num:before {
  content: attr(data-line-number);
}
.post-content .blob-code {
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}
.post-content .blob-code-inner {
  color: #24292e;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
}
.post-content .pl-token.active,
.post-content .pl-token:hover {
  background: #ffea7f;
  cursor: pointer;
}
.post-content kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}
.post-content :checked+.radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}
.post-content .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}
.post-content .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}
.post-content .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}
.post-content .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}
.post-content .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}
.post-content .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}
.post-content .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}
.post-content .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}
.post-content .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}
.post-content .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}
.post-content .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}
.post-content .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}
.post-content .task-list-item {
  list-style-type: none;
}
.post-content .task-list-item+.task-list-item {
  margin-top: 3px;
}
.post-content .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
.post-content hr {
  border-bottom-color: #eee;
}
.post-content .pl-0 {
  padding-left: 0 !important;
}
.post-content .pl-1 {
  padding-left: 4px !important;
}
.post-content .pl-2 {
  padding-left: 8px !important;
}
.post-content .pl-3 {
  padding-left: 16px !important;
}
.post-content .pl-4 {
  padding-left: 24px !important;
}
.post-content .pl-5 {
  padding-left: 32px !important;
}
.post-content .pl-6 {
  padding-left: 40px !important;
}
.post-content .pl-7 {
  padding-left: 48px !important;
}
.post-content .pl-8 {
  padding-left: 64px !important;
}
.post-content .pl-9 {
  padding-left: 80px !important;
}
.post-content .pl-10 {
  padding-left: 96px !important;
}
.post-content .pl-11 {
  padding-left: 112px !important;
}
.post-content .pl-12 {
  padding-left: 128px !important;
}
.highlight {
  width: 100%;
  margin-left: 0px;
}
.highlight table td,
.highlight table th,
.highlight table tr {
  border: 0px;
  padding: 0px;
}
.highlight .code {
  width: 100%;
}
.bg_black {
  background-color: #3a3e4a;
  color: #d2d2d2;
}
.el-radio,
.el-checkbox {
  position: relative;
  font-size: 100%;
}
label.el-radio,
label.el-checkbox {
  display: block;
  cursor: pointer;
}
.el-radio>input[type='radio'],
.el-checkbox>input[type='checkbox'] {
  display: none;
}
.el-radio>input[type='radio'][disabled],
.el-checkbox>input[type='checkbox'][disabled] {
  cursor: not-allowed;
}
.el-radio>input[type='radio']+.el-radio-style,
.el-checkbox>input[type='checkbox']+.el-checkbox-style {
  position: relative;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  cursor: pointer;
}
.el-radio>input[type='radio']+.el-radio-style:hover:before,
.el-checkbox>input[type='checkbox']+.el-checkbox-style:hover:before {
  border-color: #20a0ff;
}
.el-radio>input[type='radio']+.el-radio-style:before,
.el-checkbox>input[type='checkbox']+.el-checkbox-style:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  content: '';
  border: 1px solid #c0ccda;
}
.el-radio>input[type='radio']+.el-radio-style:after,
.el-checkbox>input[type='checkbox']+.el-checkbox-style:after {
  position: absolute;
  display: none;
  content: '';
}
.el-radio>input[type='radio'][disabled]+.el-radio-style,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style {
  cursor: not-allowed;
  color: #d3dce6;
}
.el-radio>input[type='radio'][disabled]+.el-radio-style:hover,
.el-radio>input[type='radio'][disabled]+.el-radio-style:before,
.el-radio>input[type='radio'][disabled]+.el-radio-style:after,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:hover,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:before,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:after {
  cursor: not-allowed;
}
.el-radio>input[type='radio'][disabled]+.el-radio-style:hover:before,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:hover:before {
  border: 1px solid #d3dce6;
  animation-name: none;
}
.el-radio>input[type='radio'][disabled]+.el-radio-style:before,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:before {
  border-color: #d3dce6;
}
.el-radio>input[type='radio']:checked+.el-radio-style:before,
.el-checkbox>input[type='checkbox']:checked+.el-checkbox-style:before {
  animation-name: none;
}
.el-radio>input[type='radio']:checked+.el-radio-style:after,
.el-checkbox>input[type='checkbox']:checked+.el-checkbox-style:after {
  display: block;
}
.el-radio>input[type='radio']+.el-radio-style:before {
  border-radius: 50%;
}
.el-radio>input[type='radio']+.el-radio-style:after {
  top: 0.4em;
  left: 0.4em;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background: #20a0ff;
}
.el-radio>input[type='radio']:checked+.el-radio-style:before {
  border: 1px solid #20a0ff;
}
.el-radio>input[type='radio']:checked[disabled]+.el-radio-style:before {
  border: 1px solid #b0d7f5;
}
.el-radio>input[type='radio']:checked[disabled]+.el-radio-style:after {
  background: #b0d7f5;
}
.el-checkbox>input[type='checkbox']+.el-checkbox-style:before {
  border-radius: 3px;
}
.el-checkbox>input[type='checkbox']+.el-checkbox-style:after {
  top: 0.15em;
  left: 0.5em;
  box-sizing: border-box;
  width: 0.4em;
  height: 0.85em;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.el-checkbox>input[type='checkbox']:checked+.el-checkbox-style:before {
  border: #20a0ff;
  background: #20a0ff;
}
.el-checkbox>input[type='checkbox']:checked[disabled]+.el-checkbox-style:before {
  border: #b0d7f5;
  background: #b0d7f5;
}
/* blue theme */
.el-radio.el-radio-blue>input[type='radio']+label:hover:before,
.el-checkbox.el-checkbox-blue>input[type='checkbox']+label:hover:before,
.el-radio.el-radio-blue>input[type='radio']:checked+label:before,
.el-checkbox.el-checkbox-blue>input[type='checkbox']:checked+label:before {
  border-color: #20a0ff;
}
.el-checkbox.el-checkbox-blue>input[type='checkbox']:checked+label:before,
.el-radio.el-radio-blue>input[type='radio']+label:after {
  background: #20a0ff;
}
.el-radio.el-radio-blue>input[type='radio'][disabled]+label:hover:before,
.el-checkbox.el-checkbox-blue>input[type='checkbox'][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-blue>input[type='checkbox']:checked[disabled]+label:before,
.el-radio.el-radio-blue>input[type='radio']:checked[disabled]+label:before {
  border-color: #b0d7f5;
}
.el-checkbox.el-checkbox-blue>input[type='checkbox'][disabled]:checked+label:before,
.el-radio.el-radio-blue>input[type='radio']:checked[disabled]+label:after {
  background: #b0d7f5;
}
/* green theme */
.el-radio.el-radio-green>input[type='radio']+label:hover:before,
.el-checkbox.el-checkbox-green>input[type='checkbox']+label:hover:before,
.el-radio.el-radio-green>input[type='radio']:checked+label:before,
.el-checkbox.el-checkbox-green>input[type='checkbox']:checked+label:before {
  border-color: #13ce66;
}
.el-checkbox.el-checkbox-green>input[type='checkbox']:checked+label:before,
.el-radio.el-radio-green>input[type='radio']+label:after {
  background: #13ce66;
}
.el-radio.el-radio-green>input[type='radio'][disabled]+label:hover:before,
.el-checkbox.el-checkbox-green>input[type='checkbox'][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-green>input[type='checkbox']:checked[disabled]+label:before,
.el-radio.el-radio-green>input[type='radio']:checked[disabled]+label:before {
  border-color: #a1efc4;
}
.el-checkbox.el-checkbox-green>input[type='checkbox'][disabled]:checked+label:before,
.el-radio.el-radio-green>input[type='radio']:checked[disabled]+label:after {
  background: #a1efc4;
}
/* red theme */
.el-radio.el-radio-red>input[type='radio']+label:hover:before,
.el-checkbox.el-checkbox-red>input[type='checkbox']+label:hover:before,
.el-radio.el-radio-red>input[type='radio']:checked+label:before,
.el-checkbox.el-checkbox-red>input[type='checkbox']:checked+label:before {
  border-color: #ff4949;
}
.el-checkbox.el-checkbox-red>input[type='checkbox']:checked+label:before,
.el-radio.el-radio-red>input[type='radio']+label:after {
  background: #ff4949;
}
.el-radio.el-radio-red>input[type='radio'][disabled]+label:hover:before,
.el-checkbox.el-checkbox-red>input[type='checkbox'][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-red>input[type='checkbox']:checked[disabled]+label:before,
.el-radio.el-radio-red>input[type='radio']:checked[disabled]+label:before {
  border-color: #f9b3b3;
}
.el-checkbox.el-checkbox-red>input[type='checkbox'][disabled]:checked+label:before,
.el-radio.el-radio-red>input[type='radio']:checked[disabled]+label:after {
  background: #f9b3b3;
}
/* yellow theme */
.el-radio.el-radio-yellow>input[type='radio']+label:hover:before,
.el-checkbox.el-checkbox-yellow>input[type='checkbox']+label:hover:before,
.el-radio.el-radio-yellow>input[type='radio']:checked+label:before,
.el-checkbox.el-checkbox-yellow>input[type='checkbox']:checked+label:before {
  border-color: #f7ba2a;
}
.el-checkbox.el-checkbox-yellow>input[type='checkbox']:checked+label:before,
.el-radio.el-radio-yellow>input[type='radio']+label:after {
  background: #f7ba2a;
}
.el-radio.el-radio-yellow>input[type='radio'][disabled]+label:hover:before,
.el-checkbox.el-checkbox-yellow>input[type='checkbox'][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-yellow>input[type='checkbox']:checked[disabled]+label:before,
.el-radio.el-radio-yellow>input[type='radio']:checked[disabled]+label:before {
  border-color: #fbeac1;
}
.el-checkbox.el-checkbox-yellow>input[type='checkbox'][disabled]:checked+label:before,
.el-radio.el-radio-yellow>input[type='radio']:checked[disabled]+label:after {
  background: #fbeac1;
}
/* switch component */
.el-switch,
.el-switch-style,
.el-switch-style:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.el-switch {
  display: inline-block;
  font-size: 100%;
  height: 1.6em;
  position: relative;
}
.el-switch .el-switch-style {
  height: 1.6em;
  left: 0;
  background: #c0ccda;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 3em;
  cursor: pointer;
}
.el-switch .el-switch-style:before {
  display: block;
  content: '';
  height: 1.4em;
  position: absolute;
  width: 1.4em;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 0.1em;
  top: 0.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.el-switch>input[type='checkbox'] {
  display: none;
}
.el-switch>input[type='checkbox'][disabled]+.el-switch-style {
  cursor: not-allowed;
  background-color: #d3dce6;
}
.el-switch>input[type='checkbox']:checked+.el-switch-style {
  background-color: #20a0ff;
}
.el-switch>input[type='checkbox']:checked+.el-switch-style:before {
  left: 50%;
}
.el-switch>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #b0d7f5;
}
.el-switch.el-switch-blue>input[type='checkbox']:checked+.el-switch-style {
  background-color: #20a0ff;
}
.el-switch.el-switch-blue>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #b0d7f5;
}
.el-switch.el-switch-green>input[type='checkbox']:checked+.el-switch-style {
  background-color: #13ce66;
}
.el-switch.el-switch-green>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #a1efc4;
}
.el-switch.el-switch-red>input[type='checkbox']:checked+.el-switch-style {
  background-color: #ff4949;
}
.el-switch.el-switch-red>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #f9b3b3;
}
.el-switch.el-switch-yellow>input[type='checkbox']:checked+.el-switch-style {
  background-color: #f7ba2a;
}
.el-switch.el-switch-yellow>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #fbeac1;
}
/* define size */
.el-radio.el-radio-sm,
.el-checkbox.el-checkbox-sm,
.el-switch.el-switch-sm {
  font-size: 85%;
}
.el-radio.el-radio-lg,
.el-checkbox.el-checkbox-lg,
.el-switch.el-switch-lg {
  font-size: 125%;
}
.breadcrumb {
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb>li {
  display: inline-block;
}
.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: '&\00a0';
}
.breadcrumb>.active {
  color: #777;
}
.breadcrumbhr {
  margin-top: -15px;
  margin-bottom: -15px;
}
.vcomments {
  margin-top: 20px;
}
.about-avatar {
  position: absolute;
  z-index: 2;
  right: 6%;
  width: 170px;
  height: 200px;
  background: url("../img/shinobu@v2.1.png?v=1") no-repeat 0 0;
  background-size: 509px 200px;
}
.about-avatar:hover {
  background-position: -170px 0;
}
.about-avatar:active {
  background-position: -340px 0;
}
.back-to-top {
  position: fixed;
  z-index: 2;
  right: -108px;
  bottom: 0;
  width: 108px;
  height: 150px;
  background: url("../img/back-to-top.png?v=1") no-repeat 0 0;
  background-size: 108px 450px;
  opacity: 0.6;
  transition: opacity 0.3s, right 0.8s;
}
.back-to-top:hover {
  background-position: 0 -150px;
  opacity: 1;
}
.back-to-top.load {
  right: 0;
}
.back-to-top.ani-leave {
  background-position: 0 -150px;
  animation: ani-leave 390ms ease-in-out;
  animation-fill-mode: forwards;
}
.back-to-top.leaved {
  pointer-events: none;
  background: none;
  transition: none;
}
.back-to-top.ending {
  pointer-events: none;
}
.back-to-top.ending::after {
  opacity: 1;
}
.back-to-top::after {
  content: '';
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 108px;
  height: 150px;
  background: url("../img/back-to-top.png?v=1") no-repeat 0 0;
  background-size: 108px 450px;
  background-position: 0 -300px;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}
#Snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(125,137,95,0.1);
  pointer-events: none;
}
.site-name ruby rt,
.site-name ruby rp {
  font-size: 10px;
}
#pio-container {
  bottom: -0.3rem;
  z-index: 1;
  transition: transform 0.3s;
  cursor: grab;
}
#pio-container:hover {
  transform: translateY(-0.3rem);
}
#pio-container:active {
  cursor: grabbing;
}
#pio-container[data-model='Diana'] .pio-action .pio-skin {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M463.423 188.546c-8.001-41.484-41.374-79.627-89.218-90.64-24.113-5.537-50.306-4.112-72.776 5.643-18.138 7.892-32.715 21.265-41.593 37.048-9.371-15.181-21.317-29.102-37.211-39.678-9.917-6.576-21.371-11.726-33.482-14.357-12.881-2.795-26.306-2.687-39.24-.166-24.715 4.823-46.746 18.031-63.952 33.813-16.112 14.797-28.277 32.277-37.045 51.074-17.812 38.309-19.51 81.163-8.767 121.112 11.617 43.347 36.879 83.299 67.676 118.535 31.567 36.059 70.751 71.952 123.853 81.6 12.934 2.356 26.25 3.123 39.347 1.699 12.496-1.371 24.331-4.385 35.84-8.769 21.866-8.33 41.103-21.811 57.212-36.935 35.239-33.046 58.474-74.86 74.695-117.276 8.329-21.81 15.072-44.115 20.387-66.639 5.862-24.99 9.207-50.69 4.274-76.064z' fill='%23FC6078'/%3E%3Cpath d='M464.191 188.546c-3.563-18.358-12.055-36.06-24.607-51.021a110.112 110.112 0 0 1 10.303 29.541c4.932 25.371 1.59 51.073-4.329 76.117-5.316 22.524-12.057 44.828-20.387 66.639-16.222 42.415-39.402 84.284-74.695 117.275-16.166 15.124-35.399 28.55-57.212 36.935-11.506 4.384-23.345 7.398-35.839 8.77-13.097 1.424-26.414.657-39.347-1.699-53.104-9.701-92.341-45.542-123.852-81.6-8.439-9.646-16.495-19.673-23.948-30.033 11.017 18.086 24.057 35.294 38.197 51.516 31.566 36.058 70.749 71.953 123.85 81.597 12.933 2.357 26.25 3.125 39.347 1.7 12.496-1.369 24.334-4.384 35.841-8.767 21.867-8.331 41.099-21.812 57.212-36.938 35.237-33.044 58.473-74.858 74.695-117.274 8.33-21.812 15.071-44.116 20.386-66.638 5.973-25.046 9.26-50.746 4.385-76.12z' fill='%23DC2F42'/%3E%3Cpath d='M320.666 209.48c6.138-7.343 9.973-16 11.287-25.482 1.81-13.262-1.149-27.234-8.492-38.47 8.876 1.59 17.754 2.96 26.745 3.838 10.409.985 21.316 1.478 31.672-.607 5.809-1.148 11.125-3.671 15.619-7.452 5.043-4.219 7.892-10.904 8.055-17.426.166-5.973-2.083-12.112-5.425-16.987-1.863-2.688-3.945-5.262-6.246-7.509-2.194-2.193-4.66-4.003-7.127-5.863-8.218-6.194-17.425-10.851-27.07-14.36-18.03-6.521-38.086-7.781-56.884-3.673a282.462 282.462 0 0 0 6.411-12.109c2.522-5.095 5.097-10.303 6.688-15.727 1.862-6.247 2.191-12.604 1.041-19.018-2.139-11.616-11.73-20.386-23.126-22.631-9.975-1.973-20.169-.713-30.087.985-5.646.986-11.015 2.575-16.22 5.096-5.59 2.685-10.085 6.852-13.758 11.783-6.027 8.002-8.164 18.579-8.548 28.387-.218 5.536.329 11.07 1.097 16.551.165 1.423.383 2.794.658 4.219-2.522-1.753-5.208-3.342-7.948-4.767a93.491 93.491 0 0 0-26.03-9.042c-9.317-1.809-19.345-3.014-28.826-1.864-6.192.714-12.274 2.081-17.699 5.315a33.236 33.236 0 0 0-11.07 10.853c-2.685 4.219-4.33 9.754-4.055 14.741.383 6.028 2.465 11.781 6.136 16.659 11.892 15.838 30.306 25.866 49.487 29.811 9.426 1.918 19.068 2.85 28.714 3.727 0 0 0 .054-.054.054-3.781 3.288-7.507 6.631-11.071 10.137-6.301 6.194-12.164 12.661-17.481 19.731-2.299 3.068-4.437 6.3-6.137 9.754-2.027 4.001-4 8.441-4.768 12.933-.547 3.506-.822 7.015.33 10.411 1.15 3.4 2.85 6.193 5.316 8.879 3.396 3.671 8.22 6.248 12.986 7.564 9.098 2.575 18.688.82 27.073-3.124 7.837-3.672 14.468-10.03 20.058-16.551 4-4.603 7.891-9.425 11.452-14.413.219 1.151.494 2.302.767 3.398 2.412 9.426 7.069 18.632 14.358 25.154 6.958 6.193 16.058 10.577 25.592 10.302 10.358-.274 20.058-5.37 26.58-13.207z' fill='%23A4CE50'/%3E%3Cpath d='M100.528 144.376c-2.686-2.465-6.52-2.465-9.207 0-7.673 7.233-13.097 17.045-14.794 27.511-.549 3.343.876 7.179 4.546 7.999 3.126.713 7.398-.93 8.004-4.546.383-2.247.876-4.439 1.586-6.578.22-.603.385-1.15.604-1.752.054-.111.275-.713.385-.988.164-.274.382-.82.382-.875l.823-1.644a38.352 38.352 0 0 1 3.453-5.482c.11-.109.382-.437.493-.656l.985-1.151a30.092 30.092 0 0 1 2.63-2.631c2.575-2.356 2.631-6.905.11-9.207zm-16.934 56.281c-.272-.822-.711-1.478-1.369-2.081-.603-.658-1.261-1.097-2.083-1.372-.766-.382-1.589-.601-2.52-.547-.604.055-1.15.165-1.755.219-1.094.328-2.082.877-2.849 1.7-.329.438-.658.877-1.04 1.314-.605 1.042-.877 2.081-.877 3.288v1.042c-.057.876.165 1.754.547 2.52.275.822.712 1.481 1.37 2.083.603.657 1.261 1.096 2.082 1.369.767.385 1.59.603 2.522.549.602-.056 1.15-.164 1.754-.218 1.094-.331 2.081-.878 2.849-1.7.33-.439.658-.878 1.04-1.316.605-1.04.878-2.082.878-3.287v-1.042c.056-.877-.111-1.753-.549-2.521z' fill='%23FFF'/%3E%3Cpath d='M395.142 176.654c-1.043-3.782-5.373-6.466-9.153-5.206-3.835 1.26-6.302 5.152-5.206 9.151.164.602.272 1.263.437 1.863 0 .111.057.221.057.277v.272c0 .658.054 1.261.054 1.918 0 .11-.054.877-.054 1.369-.057.331-.222 1.262-.222 1.371-.163.603-.328 1.261-.493 1.864-.052.165-.381.987-.492 1.314 0 .057-.054.11-.111.166-.162.384-.384.767-.602 1.15-1.917 3.398-.932 8.276 2.684 10.192 3.509 1.865 8.166.988 10.194-2.684 3.947-6.905 4.987-15.181 2.907-23.017zm-15.072 84.504c-3.728-.822-8.33 1.095-9.151 5.205l-2.304 11.4c-.764 3.836 1.097 8.218 5.208 9.152 3.726.821 8.331-1.097 9.152-5.206l2.301-11.397c.768-3.784-1.096-8.223-5.206-9.154zm-72.668-2.466a6.508 6.508 0 0 1-.437-.877c0-.054-.056-.163-.056-.219-.108-.384-.272-.822-.382-1.207 0-.108-.111-.546-.165-.82 0-.221-.054-.548-.054-.603 0-.439-.055-.821 0-1.26 0-.33.054-.713.054-1.044 0-.108.054-.216.109-.436.768-3.836-1.095-8.221-5.205-9.153-3.727-.877-8.33 1.152-9.153 5.207-1.315 6.247-.493 12.385 2.522 18.03 1.81 3.453 6.904 4.823 10.193 2.684 3.397-2.356 4.548-6.63 2.574-10.302zm47.843 84.941c-4 .166-7.507 3.289-7.454 7.454 0 1.042 0 2.083-.108 3.125 0 .054-.057.492-.11.767a13.755 13.755 0 0 1-.219 1.038c-.164.879-.44 1.811-.714 2.688-.163.546-.327 1.096-.547 1.643-.109.274-.711 1.7-.164.438-1.589 3.561-1.152 8.166 2.683 10.194 3.235 1.697 8.497 1.152 10.195-2.686 2.465-5.479 3.892-11.124 3.837-17.152.055-3.947-3.344-7.672-7.399-7.509zm-62.146-15.562c-.493-.712-.986-1.371-1.424-2.138-.218-.384-.437-.767-.602-1.096-.055-.109-.109-.218-.109-.275-.057-.055-.057-.162-.109-.273-.166-.383-.276-.822-.384-1.206-.221-.821-.384-1.644-.55-2.52-.604-3.891-5.644-6.358-9.151-5.207-4.165 1.37-5.864 5.043-5.207 9.151.659 3.947 2.303 7.837 4.66 11.071 2.3 3.124 6.575 5.041 10.192 2.685 3.124-1.973 5.207-6.795 2.684-10.192zm-68.5-89.491c-4.055.163-7.454 3.288-7.454 7.453v15.288c0 3.892 3.454 7.62 7.454 7.456 4.055-.167 7.453-3.29 7.453-7.456v-15.288c0-3.891-3.398-7.672-7.453-7.453zm-76.227-4.438c0-.056 0-.056-.056-.056l.056.056s-.056-.056-.056-.113c-.221-.436-.165-.493-.056-.162a5.171 5.171 0 0 1-.272-.877 9.486 9.486 0 0 1-.276-1.206v-.219c.055-.767 0-1.59.055-2.357v-.054c.166-.492.273-1.042.384-1.535 1.096-3.726-1.316-8.274-5.208-9.151-4-.931-7.999 1.205-9.15 5.205-1.809 6.084-.986 12.332 1.751 18.03 1.701 3.508 7.017 4.714 10.195 2.687 3.564-2.412 4.439-6.523 2.633-10.248z' fill='%23FFF' opacity='.4'/%3E%3Cpath d='M148.316 234.029c0-.053-.056-.108-.056-.162 0 .054.056.109.056.162zm-65.433 39.459l-.221-.219-.657-.986c-.272-.439-.548-.877-.765-1.315-.057-.11-.276-.493-.383-.823-.057-.219-.167-.438-.221-.547a14.963 14.963 0 0 1-.439-1.48c-.11-.384-.165-.823-.274-1.206 0-.11-.053-.163-.053-.274v-.218c-.385-3.892-3.18-7.673-7.454-7.454-3.726.164-7.893 3.287-7.454 7.454.658 6.686 3.013 12.44 7.398 17.59 2.521 2.96 7.947 2.793 10.578 0 2.849-3.123 2.63-7.343-.055-10.522zm75.406 61.816c-1.973-3.453-4-6.85-5.972-10.303-1.974-3.398-6.852-4.878-10.195-2.684-3.396 2.19-4.766 6.575-2.685 10.193 1.975 3.452 4.001 6.848 5.975 10.302 1.973 3.397 6.848 4.877 10.191 2.685 3.454-2.192 4.824-6.633 2.686-10.193zm68.831 19.893c-.494-5.589-1.59-10.959-3.727-16.165-1.478-3.564-4.986-6.577-9.152-5.207-3.452 1.095-6.796 5.315-5.205 9.15a55.079 55.079 0 0 1 2.246 6.577c.273 1.042.494 2.028.656 3.07.057.328.111.766.166.876.055.547.11 1.096.165 1.589.328 3.891 3.178 7.673 7.452 7.454 3.727-.057 7.783-3.179 7.399-7.344zm-73.762 44.718a36.068 36.068 0 0 1-2.961-2.796c-.494-.546-.986-1.039-1.479-1.587-.164-.165-.767-.933-.823-.988a42.168 42.168 0 0 1-3.834-6.411c-1.7-3.506-7.016-4.768-10.195-2.685-3.616 2.3-4.494 6.467-2.685 10.193a46.762 46.762 0 0 0 11.4 14.74c2.958 2.521 7.672 3.125 10.577 0 2.573-2.685 3.178-7.726 0-10.466zm78.53 32.716c-2.028-1.698-4.112-3.399-6.139-5.097-1.534-1.315-3.179-2.191-5.26-2.191-1.808 0-4.002.823-5.262 2.191-2.519 2.741-3.178 7.894 0 10.578 2.029 1.696 4.109 3.398 6.139 5.096 1.534 1.313 3.177 2.191 5.26 2.191 1.81 0 4.002-.821 5.262-2.191 2.52-2.795 3.178-7.891 0-10.577zm67.296-44.06c-4.166.164-7.289 3.29-7.453 7.453 0 .657-.056 1.26-.111 1.918v.274c0 .055-.054.166-.054.274a48.353 48.353 0 0 1-.987 4.055c-.164.603-.384 1.151-.601 1.7l-.33.657c-.601 1.262-1.316 2.465-2.084 3.619-2.136 3.287-.766 8.383 2.686 10.191 3.727 1.971 7.892.823 10.194-2.685 3.945-5.974 5.972-12.989 6.248-20.113.109-3.782-3.565-7.507-7.508-7.343zm-205.999-55.02c-.218-.165-.712-.493-1.151-.876 0-.056-.109-.165-.275-.44-.107-.219-.272-.437-.383-.657v-.056c-.055-.273-.163-.494-.218-.766v-1.041c.163-3.892-3.562-7.618-7.453-7.453-4.166.165-7.288 3.287-7.455 7.453-.217 5.317 2.139 11.07 6.358 14.412 1.646 1.261 3.124 2.193 5.26 2.193 1.809 0 4.002-.823 5.262-2.193 2.521-2.74 3.344-8.001.055-10.576zm58.638-200.082c-3.397-1.806-8.33-1.039-10.195 2.687-2.191 4.329-3.395 9.097-3.066 13.974.272 3.893 3.232 7.674 7.452 7.454 3.781-.166 7.782-3.289 7.453-7.454-.055-.877-.055-1.752-.055-2.629v-.329c0-.054.055-.165.055-.329.163-.658.274-1.262.493-1.918.057-.22.163-.439.218-.657.056-.057.111-.221.276-.55 1.808-3.505 1.094-8.274-2.631-10.249z' fill='%23FFF' opacity='.4'/%3E%3C/svg%3E");
}
#pio {
  height: 15rem;
}
@media screen and (max-width: 800px) {
  .hd {
    width: 95%;
    margin: auto;
  }
  .logodiv {
    margin-top: 20px;
  }
  .posts .replay-btn {
    display: none;
  }
  .posttime {
    display: none;
  }
  .posts .post-title {
    font-size: 16px;
  }
  .postname {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .about-avatar {
    right: -20px;
    top: -20px;
    transform: scale(0.6);
  }
  footer {
    font-size: 12px;
  }
}
@-moz-keyframes ani-leave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(108px);
  }
}
@-webkit-keyframes ani-leave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(108px);
  }
}
@-o-keyframes ani-leave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(108px);
  }
}
@keyframes ani-leave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(108px);
  }
}
